body, button {
  font-family: Helvetica Neue, Helvetica, sans-serif;
}

html, body, .app, #root {
  height: 100%;
}

h1, body, p {
  margin: 0;
}

.app {
  display: flex;
  /*background: #fffed4;*/
  background: #f7f6f3;
}

.app__github {
  position: absolute;
  top: 0;
  right: 0;
  color: #ffffff
}

.app__content {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.app__title {
  margin-bottom: 5px;
  font-size: 32px;
}

.app__subtitle {
  margin-bottom: 25px;
  font-size: 18px;
}

.app__link {
  margin-top: 5px;
  font-size: 14px;
  text-decoration: underline;
  color: #027cec;
}

.app__link:hover {
  text-decoration: none;
}

.app__github:hover .octo-arm {
  animation: octocat-wave .56s ease-in-out
}

@keyframes octocat-wave {
  0%, to {
    transform: rotate(0)
  }
  20%, 60% {
    transform: rotate(-25deg)
  }
  40%, 80% {
    transform: rotate(10deg)
  }
}
